{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Posto Praia - Cardapio Online</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!-- Bootstap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script defer src="//unpkg.com/alpinejs"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block 'head' %}{% endblock %}
</head>

<body>
    <header class="navbar container-fluid d-flex align-items-center justify-content-between p-3 mb-3">
        <div class="navbar-brand">
            <a class="navbar-brand fw-bolder fs-2" href="{% url 'index' %}" style="color: #fff;" href="{% url 'index' %}">Posto Praia</a>
        </div>
        <button class="btn navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar"
            aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="offcanvas offcanvas-end p-3" tabindex="-1" id="navbar" aria-labelledby="navbar">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title fw-bold fs-2">Posto Praia</h2>
                <button class="btn-close" aria-label="close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="navbar-nav justify-content-center">
                <a class="nav-link" href="{% url 'index' %}">Home <i class="bi bi-house"></i></a>
                <!-- <a class="nav-link" href="{% url 'cart' %}">Carrinho <i class="bi bi-cart"></i></a> -->
                {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'card_admin' %}">Gerenciar <i class="bi bi-pencil"></i></a>
                <a class="nav-link" href="{% url 'logout_user' %}">Sair <i class="bi bi-box-arrow-right"></i></a>
                {% else %}
                <a class="nav-link" href="{% url 'login_user' %}">Entrar <i class="bi bi-box-arrow-left"></i></a>
                {% endif %}
                <a class="nav-link" href="">Sobre</a>
            </div>
        </nav>
    </header>
    <main class="container" style="min-height: 100dvh">
        {% block 'content' %} {% endblock %}
    </main>
    <footer class="container d-flex justify-content-center p-3 flex-column align-items-center">
        <div class="text-body-secondary mb-2">Feito por zefelipe19</div>
        <nav class="navbar-nav">
            <a href="https://instagram.com/ze_felipe1903" class="nav-link" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
                Felipe
            </a>
            <a href="https://github.com/zefelipe19" class="nav-link" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
                zefelipe19
            </a>
        </nav>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block 'script' %}{% endblock %}
</body>

</html>