{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<div x-data="getMenu">
    <template x-for="category in menu" :key="category.id">
        <!-- Listagem de produtos em acordeon -->
        <!-- Para repetição deixar o id dinâmico -->

        <div class="accordion mb-2" :id="`accordionMenu-${category.id}`">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        :data-bs-target="`#category-${category.id}`" x-text="category.title">

                    </button>
                </h2>
                <div class="accordion-collapse collapse" :id="`category-${category.id}`"
                    :data-bs-parent="`accordionMenu-${category.id}`">
                    <div class="accordion-body d-flex gap-2 justify-content-evenly flex-wrap">
                        <template x-for="product in category.products" :key="product.id">
                            <!-- Cartão dos produtos -->
                            <div class="card mb-1" style="max-width: 570px">
                                <div class="row g-0">
                                    <div class="col-md-5">
                                        <template x-if="!product.image">
                                            <img src="{% static 'img/product_placeholder.png' %}" alt=""
                                                class="img-fluid rounded-start"
                                                style="height: 100%; object-fit: cover; width: 100%;" />
                                        </template>
                                        <template x-if="product.image">
                                            <img :src="`${product.image}`" alt="" class="img-fluid rounded-start"
                                                style="height: 100%; object-fit: cover; width: 100%;" />
                                        </template>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h5 class="card-title" x-text="`${product.title} - R$ ${product.price}`">
                                            </h5>

                                            <p class="card-text" x-text="product.description"></p>
                                            <div class="card-footer d-flex gap-1">
                                                <button class="btn btn-primary" data-bs-toggle="modal"
                                                    :data-bs-target="`#modalcard-${product.id}`">
                                                    Editar
                                                </button>
                                                <button class="btn btn-success"
                                                    @click="() => addInCart({id:`${product.id}`, title:`${product.title}`, price:`${product.price}`})">Adicionar
                                                    ao carrinho</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <!-- Modal do cartão -->
                                <div class="modal fade" :id="`modalcard-${product.id}`" data-bs-backdrop="static"
                                    aria-hidden="true" data-bs-keyboard="false" tabindex="-1">
                                    <div class="modal-dialog">
                                        <form action="." class="form-group">
                                            <div class="modal-content">


                                                <div class="modal-header">
                                                    <label for="title">
                                                        Titulo:
                                                        <input type="text" name="title" id="title"
                                                            :value="product.title">
                                                    </label>
                                                    <button class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="description">
                                                        Descrição:
                                                        <textarea name="description" id="description"
                                                            :value="product.description"></textarea>
                                                    </label>
                                                    <label for="price">
                                                        Preço:
                                                        <input type="text" name="price" id="price"
                                                            :value="product.price">

                                                    </label>
                                                    <label for="promocional_price">
                                                        Preço Promocional:
                                                        <input type="text" name="promocional_price"
                                                            id="promocional_price" :value="product.promocional_price">
                                                    </label>
                                                    <label for="is_active">
                                                        Em Estoque/Ativo:
                                                        <input type="checkbox" name="is_active" id="is_active"
                                                            :value="product.is_active">
                                                    </label>
                                                    <label for="is_promo">
                                                        Em Promoção:
                                                        <input type="checkbox" name="is_promo" id="is_promo"
                                                            :value="product.is_promo">
                                                    </label>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success">Salvar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </div>
                            <!-- Fim Card -->

                        </template>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do acordeon -->
    </template>
</div>
{% endblock %}

{% block 'script' %}

{% endblock %}